.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/
node_modules
dist
.parcel-cache
.editorconfig
src/env.js

# Built Visual Studio Code Extensions
*.vsix